.login-page {
  background: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    width: 350px;
    height: 400px;
  }
}
// Loader-style

.loading-screen {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #ff7a59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
